.menuList {
  display: flex;
  gap:30px;
  justify-content:center;
  list-style-type: none;
  margin: 16px;
  padding: 0;
}

.menuItem {
  margin: 16px 0 ;
  width: 100px;
}

.menuLink {
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 16px;
  display: block;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
  background-color: #333;
}

.menuLink:hover {
  background-color: #444;
  color: white;
}